.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    justify-content: center;
    align-items: center;
}

.top_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    background-image: url('../assets/background2.png');
    background-repeat: no-repeat;
    background-position: -360px -388px;
    min-height: 180px;

}

.bottom_container {
    position: relative;
    width: 100dvw;
    height: 100dvh;
    min-height: 180px;
    background-image: url('../assets/background1.png');
    background-repeat: no-repeat;
    background-position: -27px -143px;
    z-index: 100;

}

.names {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.date {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.scroll_container {
    position: absolute;
    z-index: 99;
    height: 100dvh;
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 0;
    align-items: center;
    background-color: green;
    flex-direction: column;

}

.main {
    width: 100dvw;
    max-width: 500px;
    height: 100dvh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.fixed {
    max-width: 500px;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    border: 1px solid red;
    overflow: hidden;

}

.fixed_text {
    position: fixed;
    z-index: 102;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 500px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.scroll {
    position: absolute;
    width: 100%;
    bottom: -123dvh;
    z-index: 103;
    height: 130dvh;
    background-image: url('/src//assets/background1.png');
    background-repeat: no-repeat;
    background-color: white;
    background-size: contain;
    background-size: 150%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.phrases {
    margin-top: -70px;
}

.date {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top_image {
    position: absolute;
    top: 224px;
    left: -276px;
    transform: rotate(148deg)
}

.bottom_image {
    position: absolute;
    top: -124px;
    left: 137px;
}

.text_inner {
    padding: 25px;
    text-align: center;
}

.text_mid {
    font-size: 28px;
    text-align: center;
}

.span_svg {
    svg {
        width: 18px;
        height: 18px;
    }

}

.date_container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.arrow {
    svg {
        width: 35px;
        height: 35px;
    }
}

.text_bottom {
    margin-top: 25px;
    font-size: 28px;
}

.infos {
    font-size: 24px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h2{
        width: 80%;
        font-size: 18px;
    }
}
.texts{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

details {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.summary_content{
    font-size: 18px;
    padding: 25px;
}